#page-create-medic {
    display: flex;
  }
  
  #page-create-medic aside {
    position: fixed;
    height: 100%;
    padding: 32px 24px;
    background: #DCF2FF;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  #page-create-medic aside img {
    width: 70px;
  }
  
  #page-create-medic aside footer a,
  #page-create-medic aside footer button {
    width: 48px;
    height: 48px;
  
    border: 0;
  
    background: #12AFCB;
    border-radius: 16px;
  
    cursor: pointer;
  
    transition: background-color 0.2s;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #page-create-medic aside footer a:hover,
  #page-create-medic aside footer button:hover {
    background: #17D6EB;
  }
  
  #page-create-medic main {
    flex: 1;
  }
  
  form.create-medic-form {
    width: 700px;
    margin: 64px auto;
  
    background: #FFFFFF;
    border: 1px solid #D3E2E5;
    border-radius: 20px;
  
    padding: 64px 80px;
  
    overflow: hidden;
  }
  
  form.create-medic-form fieldset {
    border: 0;
  }
  
  form.create-medic-form fieldset + fieldset {
    margin-top: 80px;
  }
  
  form.create-medic-form fieldset legend {
    width: 100%;
  
    font-size: 32px;
    line-height: 34px;
    color: #5C8599;
    font-weight: 700;
  
    border-bottom: 1px solid #D3E2E5;
    margin-bottom: 40px;
    padding-bottom: 24px;
  }
  
  form.create-medic-form .input-block + .input-block {
    margin-top: 24px;
  }
  
  form.create-medic-form .input-block label {
    display: flex;
    color: #8FA7B3;
    margin-bottom: 8px;
    line-height: 24px;
  }
  
  form.create-medic-form .input-block label span {
    font-size: 14px;
    color: #8FA7B3;
    margin-left: 24px;
    line-height: 24px;
  }
  
  form.create-medic-form .input-block input,
  form.create-medic-form .input-block textarea {
    width: 100%;
    background: #F5F8FA;
    border: 1px solid #D3E2E5;
    border-radius: 15px;
    outline: none;
    color: #5C8599;
  }
  
  form.create-medic-form .input-block input {
    height: 40px;
    padding: 0 16px;
  }
  
  form.create-medic-form .input-block textarea {
    min-height: 120px;
    max-height: 240px;
    resize: vertical;
    padding: 16px;
    line-height: 28px;
  }
  
  form.create-medic-form button.confirm-button {
    margin-top: 64px;
  
    width: 100%;
    height: 64px;
    border: 0;
    cursor: pointer;
    background: #337ab7;
    border-radius: 20px;
    color: #FFFFFF;
    font-weight: 800;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: background-color 0.2s;
  }
  
  form.create-medic-form button.confirm-button:hover {
    background: #2d86d4;
  }
  