.medicine-content{
    display: flex;
    border-style: solid;
    border-width: 2px ;
    border-color: #D3E2E5;
    padding: 30px;
    padding-right: 10px;
    padding-top: 15px;
}

.loupe-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.loupe-content input{
    margin-right: 10px;
}

.exclue-medicine{
    width: 32px;
    border: none;
}
.exclue-medicine .exclue-icon{
    width: 25px;
    
}
.exclue-medicine:hover{
    color: #636e70;
    transition: 0.2s;
}

.button-content{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.loupe{
    width: 22px;
    height: 22px;
}
