.medicine-content{
    display: flex;
    padding: 15px;
    flex-direction: column;
}
.posologia{
    width: 523px;
}
#posologia{
    width: 523px;
}
.medicine.input-block{
    width: 83%;
}

.posologia.input-block{
    width: 83%;
}

.inputs-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loupe-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.loupe-content input{
    margin-right: 10px;
}

.exclue-medicine{
    width: 32px;
    border: none;
}
.exclue-medicine .exclue-icon{
    width: 25px;
    
}
.exclue-medicine:hover{
    color: #636e70;
    transition: 0.2s;
}

.button-content{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.loupe{
    width: 22px;
    height: 22px;
}
