.medicine-content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-style: solid;
    border-width: 2px ;
    border-color: #D3E2E5;
    padding: 30px;
    padding-right: 0;
}
.item{
    margin-bottom: 2em;
}

.medicine-content input{
    width: 378px;
}

.loupe-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.loupe-content input{
    margin-right: 10px;
}

.exclue-medicine{
    width: 40px;
    border: none;
}
.exclue-medicine .exclue-icon{
    width: 25px;
}
.exclue-medicine:hover{
    color: #636e70;
    transition: 0.2s;
}

.button-content{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.loupe{
    width: 22px;
    height: 22px;
}