#page-create-patient {
    display: flex;
  }
  
  #page-create-patient aside {
    position: fixed;
    height: 100%;
    padding: 32px 24px;
    background: #DCF2FF;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  #page-create-patient aside img {
    width: 70px;
  }
  
  #page-create-patient main {
    flex: 1;
  }

  #document, #gender, #birth, #cpf{
    width: auto;
  }

  #cep, #neighborhood, #city, #uf, #telephone, #cellPhone , #responsiblePhone, #responsibleName {
    width: auto;
  }

  .inputs-measures {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  .grid-names, .grid-address{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
  }

  .grid-responsible-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .inputs-responsible-info .input-block{
    margin-top: 0;
  }
  

  #weight, #height, #body_surface{
    width: 100px;
  }

  .calculeSurface{
    width: 12%;
    margin-left: 1em;
  }
  
  form.create-patient-form {
    background: #FFFFFF;
    padding: 10px 20px;
    overflow: hidden;
  }

  

  form.create-patient-form fieldset {
    border: 0;
  }
  
  form.create-patient-form fieldset + fieldset {
    margin-top: 80px;
  }
  
  form.create-patient-form fieldset legend {
    width: 100%;
  
    font-size: 32px;
    line-height: 34px;
    color: #5C8599;
    font-weight: 700;
  
    border-bottom: 1px solid #D3E2E5;
    margin-bottom: 40px;
    padding-bottom: 24px;
  }
  
  form.create-patient-form .input-block + .input-block {
    margin-top: 24px;
  }
  
  form.create-patient-form .input-block label {
    display: flex;
    color: #8FA7B3;
    margin-bottom: 8px;
    line-height: 24px;
  }
  
  form.create-patient-form .input-block label span {
    font-size: 14px;
    color: #8FA7B3;
    margin-left: 24px;
    line-height: 24px;
  }
  
  form.create-patient-form .input-block input,
  form.create-patient-form .input-block textarea {
    width: 100%;
    background: #F5F8FA;
    border: 1px solid #D3E2E5;
    border-radius: 15px;
    outline: none;
    color: #5C8599;
  }
  
  form.create-patient-form .input-block input {
    height: 40px;
    padding: 0 16px;
  }
  
  form.create-patient-form .input-block textarea {
    min-height: 120px;
    max-height: 240px;
    resize: vertical;
    padding: 16px;
    line-height: 28px;
  }
  
  form.create-patient-form button.confirm-button {
    margin-top: 64px;
  
    width: 100%;
    height: 64px;
    border: 0;
    cursor: pointer;
    background: #337ab7;
    border-radius: 20px;
    color: #FFFFFF;
    font-weight: 800;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: background-color 0.2s;
  }
  
  form.create-patient-form button.confirm-button:hover {
    background: #2d86d4;
  }

  form.create-patient-form button.confirm-button.cancel {
    background: #8a8a8a;
  }

  form.create-patient-form button.confirm-button.cancel:hover {
    background:#6f6f6f;
  }